<h1>Northern posts</h1>

<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.submit %>
<% end %>

<div id="posts">
  <% @posts.each do |p| %>
    <%= render 'posts/post', post: p %>
  <% end %>
</div>


<%= turbo_stream_from :posts %>