<%= turbo_frame_tag dom_id(post) || 'new_post' do %>
  <div class="card mb-3 rounded p-3">
    <%= simple_form_for post do |f| %>
      <%= f.input :title %>
      <%= f.input :body %>
      <%= f.submit %>
      <%= link_to 'cancel', root_path, class: 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>
  