<%= turbo_frame_tag dom_id post do %>
  <div class='card mb-3 rounded p-3'>
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
    <%= link_to 'edit', edit_post_path(post) %>
    <%= link_to 'delete', post, method: :delete, data: {confirm: 'are you com certeza?'} %>
  </div>
<% end %>
  